@using Ciber.core
@model List<Maquina>

@{
    ViewData["Title"] = "Lista de Máquinas";
}

<h1>@ViewData["Title"]</h1>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Nmaquina</th>
            <th>Características</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var maquina in Model)
        {
            <tr>
                <td>@maquina.Nmaquina</td>
                <td>@maquina.Caracteristicas</td>
                <td>@(maquina.Estado ? "Disponible" : "No Disponible")</td>
                <td>
                    <a asp-action="Eliminar" asp-route-nmaquina="@maquina.Nmaquina" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="RegistrarMaquina" class="btn btn-primary">Agregar Nueva Máquina</a>