@model IEnumerable<Ciber.core.Cuenta>

@{
    ViewData["Title"] = "Lista de Cuentas";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ncuenta</th>
            <th>Nombre</th>
            <th></th>
            <th>Hora Registrada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cuenta in Model)
        {
            <tr>
                <td>@cuenta.Ncuenta</td>
                <td>@cuenta.Nombre</td>
                <td></td>
                <td>@cuenta.HoraRegistrada.ToString(@"hh\:mm\:ss")</td>
                <td>
                    <a asp-action="Editar" asp-route-ncuenta="@cuenta.Ncuenta" class="btn btn-primary">Editar</a>
                    <a asp-action="Eliminar" asp-route-ncuenta="@cuenta.Ncuenta" class="btn btn-warning">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Registrarte", "Cuenta")" class="btn btn-success">Registrar</a>
